body  
  font-family  PingFang SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
  font-weight  400

h1,h2,h3,h4,h5,h6  
  font-weight  300
  line-height  1.5

h1
  font-size 2.6rem

h2
  font-size 2rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.6rem
  
.theme-default-content:not(.custom) h3
  font-weight 400

.theme-default-content:not(.custom) h4
  font-size 1.4rem
  font-weight 500

p  
  font-weight  400
  font-size  20px
  line-height 2

a  
  font-weight  400

ul, ol 
  line-height 2.3

.description  
  font-weight  400


#main-title  
  font-weight  300

.navbar .site-name 
  font-size 1.7rem!important
  font-weight 300!important


span.title
  font-weight 400!important

.dropdown-wrapper .dropdown-title .arrow
  margin-left 0rem!important

.theme-default-content:not(.custom) img 
  max-height 350px
  margin 20px
  //min-height: 200px;

.theme-default-content:not(.custom) 
  max-width 80%
  min-height: calc(100vh - 230px);

.theme-default-content:not(.custom) li
  font-size  19px

.theme-default-content li
  font-size  19px

main.home 
  max-width 80%

.page-edit
  max-width 80%!important

.page-nav
  max-width 80%!important

table
  margin 0px
  color $textColor

th,td
  border 0px

.vssue .vssue-comments .vssue-comment .vssue-comment-avatar img
  margin 0

.vssue .vssue-new-comment .vssue-comment-avatar img
  margin 0

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to { /* .fade-leave-active below version 2.1.8 */
  opacity: 0;
}

blockquote {
    font-size: 1rem;
    color: #777;
    border-left: 0.2rem solid #66cc11;
    margin: 1rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
}

.btree path {
        stroke: url(#gradient) gray;
    }

.dropdown-wrapper
  .dropdown-title
    outline none

//valine 外观样式
#valine.v[data-class=v] .vwrap 
    border 1px solid #66ccff  !important
    
.v[data-class=v] .veditor 
    font-size 1.3em

.valine-wrapper #valine.v code, .valine-wrapper #valine.v pre
  background-color #f3f4f4

.v[data-class=v] .vcards .vcard .vh
  overflow visible !important
  display table !important

//表情包大小设定
.v[data-class=v] .vwrap .vemojis i
  width auto !important
  margin 5px

.v[data-class=v] .emoji, .v[data-class=v] .vemoji 
  max-width: 50px !important
  margin 5px !important

//页脚
#footer {
  z-index: 11;
  padding: 1.5rem;
  font-size: 20px;
  border-top: 1px solid $borderColor;
  text-align: center;
  color: lighten($textColor, 25%);
  position: relative;
  background-color: white;
}

.leancloud-visitors-count
  color #4e6e8e;

//el抽屉字体
.el-collapse-item__header 
  font-size 20px !important

.el-collapse-item__wrap
  overflow visible
