body  
    font-family  PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight  400;
 

h1,h2,h3,h4,h5,h6  
    font-weight  400;
    line-height  1;
 

p  
    font-weight  200;
    font-size  20px
 

a  
    font-weight  400
 

.description  
    font-weight  400;
 

#main-title  
    font-weight  300;
 