body  
  font-family  PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
  font-weight  400
 

h1,h2,h3,h4,h5,h6  
  font-weight  300
  line-height  1.5
 
h1
  font-size 3rem

h2
  font-size 2.3rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.6rem


p  
  font-weight  400
  font-size  20px
  line-height 3
 

a  
  font-weight  400
 

.description  
  font-weight  400
 

#main-title  
  font-weight  300
 
.navbar .site-name 
  font-size 1.7rem!important
  font-weight 300!important


span.title
  font-weight 400!important

.dropdown-wrapper .dropdown-title .arrow
  margin-left 0rem!important

.theme-default-content:not(.custom) img
  max-height 350px
  margin 20px
  border-style groove
  border-width 1px

.theme-default-content:not(.custom) 
  max-width 80%

main.home 
  max-width 80%

.page-edit
  max-width 80%!important

.page-nav
  max-width 80%!important